<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>Words</title>
        <meta name="description" content="">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:image" content="">

        <!--
        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">
        -->
        <!-- Place favicon.ico in the root directory -->

        <!--
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/style.css">

        <meta name="theme-color" content="#fafafa">
        -->

        <style>
            body {
                display: grid;
                grid-template-columns: minmax(0, 1fr) min(65ch, 90%) minmax(0, 1fr);
            }

            .nav-wrapper > * {
                grid-column: 1;
            }

            .main-wrapper > * {
                grid-column: 2;
            }

            @media (max-width: 512px) {
                .nav-wrapper > * {
                    width: 1px;
                    display: none;
                }

                .main-wrapper > * {
                    grid-column: 2;
                }
            }

            .full-bleed {
                width: 100%;
                grid-column: 1 / 4;
            }

            body {
                padding: 0;
                margin: 0;

                color: #c2c5c5;
                background-color: #073642;

                text-align: justify;
                font-size: 13pt;
                font-family: "Raleway", arial, sans-serif;
            }

            @media (max-width: 512px) {
                body {
                    font-size: 11pt;
                }
            }

            @font-face {
                font-family: "Raleway";
                src: url("fonts/raleway/Raleway-Regular.ttf");
            }
            @font-face {
                font-family: "RalewayBold";
                src: url("fonts/raleway/Raleway-Bold.ttf");
            }
            @font-face {
                font-family: "RalewayItalic";
                src: url("fonts/raleway/Raleway-Italic.ttf");
            }
            @font-face {
                font-family: "RalewayBoldItalic";
                src: url("fonts/raleway/Raleway-BoldItalic.ttf");
            }

            h2 {
                font-family: 'RalewayBoldItalic', arial, sans-serif;
                font-weight: normal;
                font-style: normal;
            }

            b {
                font-family: 'RalewayBold', arial, sans-serif;
                font-weight: normal;
                font-style: normal;
            }

            i {
                font-family: 'RalewayItalic', arial, sans-serif;
                font-weight: normal;
                font-style: normal;
            }

            b i, i b {
                font-family: 'RalewayBoldItalic', arial, sans-serif;
                font-weight: normal;
                font-style: normal;
            }

            body ::selection {
                color: #fdf6e3;
                background-color: #c2c5c5;
            }

            h1 {
                text-align: center;
            }

            p {
                margin-top: 0;
                margin-bottom: 1em;
            }

            a {
                color: #49a3e2;
                text-decoration: none;
            }

            main a:visited {
                color: #f162a7;
            }

            main a:hover {
                color: #fdf6e3;
                background-color: #586e75;
            }

            #logo-link:hover {
                background: none;
            }

            nav {
                text-align: right;
                padding-right: 5ch;
                font-variant: small-caps;
            }

            nav ul {
                list-style-type: none;
            }

            nav a {
                color: #c2c5c5;
            }
            nav a:hover {
                color: #fdf6e3;
                background-color: #586e75;
            }

        </style>
    </head>

    <body>
        <nav class="nav-wrapper">
            {% block navigation %}{% endblock %}
        </nav>
        <main class="main-wrapper">
        <section>
        <h1>
            <a href="/" id="logo-link">
                <img src="/images/dark_logo.svg" alt="Words" height="80px" />
            </a>
        </h1>
        {% if section.title or page.title %}
            <h1>
                {% if section.title %}
                    {{ section.title | safe }}
                {% else %}
                    {% if page.title %}
                        {{ page.title | safe }}
                    {% endif %}
                {% endif %}
            </h1>
        {% endif %}
        </section>
        <section>
            {% block content %} {% endblock %}
        </section>
        </main>
    </body>
</html>
