{% extends "base.html" %}

{% block navigation %}
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/projects">projects</a></li>
    </ul>
{% endblock %}

{% block content %}

{% for year, posts in section.pages | group_by(attribute="year") %}
    <h2>{{ year }}</h2>

    <ul>
    {% for post in posts %}
        <li><a href="{{ post.path | safe }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
{% endfor %}

{% endblock content %}
