{% extends "base.html" %}

{% block navigation %}
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/words">words</a></li>
    </ul>
{% endblock %}

{% block content %}

{% if section.content %}
    {{ section.content | safe }}
{% else %}
    {% if page.content %}
        {{ page.content | safe }}
    {% endif %}
{% endif %}

{% endblock content %}
